<template>
    <div class="container">
        <el-row :gutter="20">
            <el-col :span="3">
                <img src="images/mtslogo.png">
            </el-col>
        </el-row>
        <el-row>
            <h3>Surat Pernyataan</h3>
            1. Seluruh data beserta seluruh dokumen yang saya lampirkan dalam berkas pendaftaran seleksi penerimaan peserta didik Baru
            Madrasah Tsanawiyah Negeri Salatiga tahun pelajaran 2021/2022 adalah benar.
        </el-row>
    </div>
</template>