<template>
  <div class="">
    <div class="card register-form">
      <div class="card-header" style="text-align: center; margin-bottom: 1rem">
        <img
          src="/images/mtslogo.png"
          style="width: 150px; height: 150px"
        /><br />
        <h2>Pendaftaran Penerimaan Peserta Didik Baru</h2>
        <h2>MTs Negeri Salatiga</h2>
      </div>
      <div class="card-body" style="margin-left: 2rem; margin-right: 2rem">
        <div class="tips">
          <el-steps :active="active" finish-status="success">
            <el-step title="Step 1"></el-step>
            <el-step title="Step 2"></el-step>
          </el-steps>
          <el-card class="box-card">
            <el-form
              ref="studentForm"
              :rules="loginRules"
              :model="studentForm"
              label-position="left"
              v-loading="loading"
            >
              <transition name="el-fade-in">
                <el-collapse v-model="activeName" v-if="active == 1">
                  <el-collapse-item title="Data Siswa" name="1">
                    <!-- <lang-select class="set-language" /> -->
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <!-- <el-upload
                          action="upload"
                          list-type="picture-card"
                          :auto-upload="true"
                          :before-upload="beforeAvatarUpload"
                          :on-change="toggleUpload"
                        >
                          <i slot="default" class="el-icon-plus"></i>
                        </el-upload>
                        <div slot="file" slot-scope="{ file }">
                          <img
                            class="el-upload-list__item-thumbnail"
                            :src="file.url"
                            alt=""
                          />
                          <span class="el-upload-list__item-actions">
                            <span
                              v-if="!disabled"
                              class="el-upload-list__item-preview"
                              @click="handlePictureCardPreview(file)"
                            >
                              <i class="el-icon-zoom-in"></i>
                            </span>
                            <span
                              v-if="!disabled"
                              class="el-upload-list__item-delete"
                              @click="handleRemove(file)"
                            >
                              <i class="el-icon-delete"></i>
                            </span>
                          </span>
                        </div>
                        <el-dialog :visible.sync="dialogVisible">
                          <img width="100%" :src="studentForm.photos" alt="" />
                        </el-dialog> -->
                      </el-col>
                      <el-col :span="12">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.nisn"
                            name="nisn"
                            :placeholder="$t('NISN')"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.name"
                            name="name"
                            type="text"
                            :placeholder="$t('Nama Lengkap')"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.nick_name"
                            name="nick_name"
                            type="text"
                            :placeholder="$t('Nama Panggilan')"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-select
                            v-model="studentForm.gender"
                            placeholder="Pilih Jenis Kelamin"
                          >
                            <el-option label="Laki-Laki" value="Laki-Laki" />
                            <el-option label="Perempuan" value="Perempuan" />
                          </el-select>
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.tempat_lahir"
                            type="text"
                            name="tempat_lahir"
                            placeholder="Tempat Lahir"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-date-picker
                            v-model="studentForm.tanggal_lahir"
                            type="date"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            placeholder="Tanggal Lahir"
                          >
                          </el-date-picker>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.email"
                            name="email"
                            type="text"
                            :placeholder="$t('Email')"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.contact"
                            type="text"
                            name="contact"
                            placeholder="Nomor Handphone"
                          />
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item>
                          <el-select
                            v-model="studentForm.agama"
                            class="filter-item"
                            placeholder="Agama"
                            style="float: left"
                          >
                            <el-option label="Islam" value="Islam"
                              >Islam</el-option
                            >
                          </el-select>
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.no_nik"
                            name="nik"
                            type="text"
                            :placeholder="$t('Nomor NIK')"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <!-- <el-form-item>
                    <el-button
                      :loading="loading"
                      type="primary"
                      style="width: 100%"
                      @click.native.prevent="handleLogin"
                    >
                      Sign in
                    </el-button>
                  </el-form-item> -->
                  </el-collapse-item>
                  <el-collapse-item title="Alamat Siswa">
                    <el-row :gutter="20">
                      <el-col :span="24">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.address"
                            name="address"
                            type="text"
                            placeholder="Alamat Rumah"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.province"
                            name="province"
                            type="text"
                            placeholder="Provinsi"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.kecamatan"
                            type="text"
                            name="kecamatan"
                            placeholder="Kecamatan"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.rt"
                            type="text"
                            name="rt"
                            placeholder="RT"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.kodepos"
                            type="text"
                            name="kodepos"
                            placeholder="Kode Pos"
                          />
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.kota"
                            name="kote"
                            type="text"
                            auto-complete="on"
                            placeholder="Kota / Kabupaten"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.kelurahan"
                            type="text"
                            name="kelurahan"
                            placeholder="Kelurahan"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.rw"
                            type="text"
                            name="rw"
                            placeholder="RW"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.phone_number"
                            type="text"
                            name="phone"
                            placeholder="Telefon Rumah"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <!-- <el-form-item>
                    <el-button
                      :loading="loading"
                      type="primary"
                      style="width: 100%"
                      @click.native.prevent="handleLogin"
                    >
                      Sign in
                    </el-button>
                  </el-form-item> -->
                  </el-collapse-item>
                  <el-collapse-item
                    title="Data Ayah"
                    style="text-align: center"
                  >
                    <el-row :gutter="20">
                      <el-col :span="24">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.nama_ayah"
                            name="nama_ayah"
                            type="text"
                            placeholder="Nama Ayah"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.tempat_lahir_ayah"
                            name="tempat_lahir_ayah"
                            type="text"
                            placeholder="Tempat Lahir"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.job_ayah"
                            type="text"
                            name="job"
                            placeholder="Pekerjaan"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.contact_ayah"
                            type="text"
                            name="contact_ayah"
                            placeholder="Nomor Telefon"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-select
                            v-model="studentForm.agama_ayah"
                            class="filter-item"
                            placeholder="Agama"
                            style="float: left"
                          >
                            <el-option label="Islam" value="Islam"
                              >Islam</el-option
                            >
                            <el-option label="Kristen" value="Kristen"
                              >Kristen</el-option
                            >
                            <el-option label="Katholik" value="Katholik"
                              >Katholik</el-option
                            >
                            <el-option label="Buddha" value="Buddha"
                              >Buddha</el-option
                            >
                            <el-option label="Hindu" value="Hindu"
                              >Hindu</el-option
                            >
                          </el-select>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item>
                          <el-date-picker
                            v-model="studentForm.tanggal_lahir_ayah"
                            type="date"
                            placeholder="Tanggal Lahir"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            style="float: left"
                          >
                          </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                          <el-select
                            v-model="studentForm.pendidikan_ayah"
                            class="filter-item"
                            placeholder="Pendidikan Terakhir"
                            style="float: left"
                          >
                            <el-option label="SD" value="SD">SD</el-option>
                            <el-option label="SMP" value="SMP">SMP</el-option>
                            <el-option label="SMA" value="SMA">SMA</el-option>
                            <el-option label="D3" value="D3">D3</el-option>
                            <el-option label="S1" value="S1">S1</el-option>
                            <el-option label="S2" value="S2">S2</el-option>
                            <el-option label="S3" value="S2">S3</el-option>
                          </el-select>
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.salary_ayah"
                            type="text"
                            name="salary_ayah"
                            placeholder="Pendapatan Bulanan"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <!-- <el-form-item>
                    <el-button
                      :loading="loading"
                      type="primary"
                      style="width: 100%"
                      @click.native.prevent="handleLogin"
                    >
                      Sign in
                    </el-button>
                  </el-form-item> -->
                  </el-collapse-item>
                  <el-collapse-item title="Data Ibu" style="text-align: center">
                    <el-row :gutter="20">
                      <el-col :span="24">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.nama_ibu"
                            name="nama_ibu"
                            type="text"
                            placeholder="Nama Ibu"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.tempat_lahir_ibu"
                            name="tempat_lahir_ibu"
                            type="text"
                            placeholder="Tempat Lahir"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.job_ibu"
                            type="text"
                            name="job"
                            placeholder="Pekerjaan"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.contact_ibu"
                            type="text"
                            name="contact_ibu"
                            placeholder="Nomor Telefon"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-select
                            v-model="studentForm.agama_ibu"
                            class="filter-item"
                            placeholder="Agama"
                            style="float: left"
                          >
                            <el-option label="Islam" value="Islam"
                              >Islam</el-option
                            >
                            <el-option label="Kristen" value="Kristen"
                              >Kristen</el-option
                            >
                            <el-option label="Katholik" value="Katholik"
                              >Katholik</el-option
                            >
                            <el-option label="Buddha" value="Buddha"
                              >Buddha</el-option
                            >
                            <el-option label="Hindu" value="Hindu"
                              >Hindu</el-option
                            >
                          </el-select>
                        </el-form-item>
                      </el-col>
                      <el-col :span="12">
                        <el-form-item>
                          <el-date-picker
                            v-model="studentForm.tanggal_lahir_ibu"
                            type="date"
                            placeholder="Tanggal Lahir"
                            format="yyyy-MM-dd"
                            value-format="yyyy-MM-dd"
                            style="float: left"
                          >
                          </el-date-picker>
                        </el-form-item>
                        <el-form-item>
                          <el-select
                            v-model="studentForm.pendidikan_ibu"
                            class="filter-item"
                            placeholder="Pendidikan Terakhir"
                            style="float: left"
                          >
                            <el-option label="SD" value="SD">SD</el-option>
                            <el-option label="SMP" value="SMP">SMP</el-option>
                            <el-option label="SMA" value="SMA">SMA</el-option>
                            <el-option label="D3" value="D3">D3</el-option>
                            <el-option label="S1" value="S1">S1</el-option>
                            <el-option label="S2" value="S2">S2</el-option>
                            <el-option label="S3" value="S2">S3</el-option>
                          </el-select>
                        </el-form-item>
                        <el-form-item>
                          <el-input
                            v-model="studentForm.salary_ibu"
                            type="text"
                            name="salary_ibu"
                            placeholder="Pendapatan Bulanan"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <!-- <el-form-item>
                    <el-button
                      :loading="loading"
                      type="primary"
                      style="width: 100%"
                      @click.native.prevent="handleLogin"
                    >
                      Sign in
                    </el-button>
                  </el-form-item> -->
                  </el-collapse-item>
                </el-collapse>
              </transition>
              <transition name="el-fade-in">
                <el-collapse v-model="activeName" v-if="active == 2">
                  <el-collapse-item title="Data Prestasi" accordion>
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <el-form-item :label="$t('1. ')">
                          <el-select
                            v-model="studentForm.tingkat1"
                            class="filter-item"
                            placeholder="Tingkat Prestasi"
                          >
                            <el-option label="Nasional" value="Nasional"
                              >Nasional</el-option
                            >
                            <el-option label="Provinsi" value="Provinsi"
                              >Provinsi</el-option
                            >
                            <el-option label="Kabupaten/Kota" value="Kota"
                              >Kabupaten/Kota</el-option
                            >
                          </el-select>
                          <el-input
                            v-model="studentForm.prestasi1"
                            placeholder="Keterangan"
                            style="margin-top: 1rem"
                          />
                        </el-form-item>
                        <el-form-item :label="$t('2. ')">
                          <el-select
                            v-model="studentForm.tingkat2"
                            class="filter-item"
                            placeholder="Tingkat Prestasi"
                          >
                            <el-option label="Nasional" value="Nasional"
                              >Nasional</el-option
                            >
                            <el-option label="Provinsi" value="Provinsi"
                              >Provinsi</el-option
                            >
                            <el-option label="Kabupaten/Kota" value="Kota"
                              >Kabupaten/Kota</el-option
                            >
                          </el-select>
                          <el-input
                            v-model="studentForm.prestasi2"
                            placeholder="Keterangan"
                            style="margin-top: 1rem"
                          />
                        </el-form-item>
                        <el-form-item :label="$t('3. ')">
                          <el-select
                            v-model="studentForm.tingkat3"
                            class="filter-item"
                            placeholder="Tingkat Prestasi"
                          >
                            <el-option label="Nasional" value="Nasional"
                              >Nasional</el-option
                            >
                            <el-option label="Provinsi" value="Provinsi"
                              >Provinsi</el-option
                            >
                            <el-option label="Kabupaten/Kota" value="Kota"
                              >Kabupaten/Kota</el-option
                            >
                          </el-select>
                          <el-input
                            v-model="studentForm.prestasi3"
                            placeholder="Keterangan"
                            style="margin-top: 1rem"
                          />
                        </el-form-item>
                      </el-col>
                    </el-row>
                  </el-collapse-item>
                  <el-collapse-item title="Pilihan Peminatan" accordion>
                    <el-row :gutter="20">
                      <el-col :span="12">
                        <el-form-item>
                          <el-select
                            v-model="studentForm.peminatan"
                            class="filter-item"
                            placeholder="Pilihan Peminatan"
                          >
                            <el-option
                              label="Kelas Unggulan Tahfidz"
                              value="Kelas Unggulan Tahfidz"
                              >Kelas Unggulan Tahfidz</el-option
                            >
                            <el-option
                              label="Kelas Unggulan Sains"
                              value="Kelas Unggulan Sain"
                              >Kelas Unggulan Sains</el-option
                            >
                            <el-option
                              label="Kelas Unggulan Olahraga"
                              value="Kelas Unggulan Olahraga"
                              >Kelas Unggulan Olahraga</el-option
                            >
                            <el-option
                              label="Kelas Regular"
                              value="Kelas Regular"
                              >Kelas Regular</el-option
                            >
                          </el-select>
                        </el-form-item>
                      </el-col>
                    </el-row>
                  </el-collapse-item>
                  <el-collapse-item
                    title="Data Nilai & Rapor"
                    style="text-align: center"
                    accordion
                  >
                    <el-row :gutter="20">
                      <el-col :span="24">
                        <el-form-item>
                          <el-input
                            v-model="studentForm.asal_sekolah"
                            placeholder="Asal Sekolah/Madrasah"
                          />
                        </el-form-item>
                        <el-form-item>
                          <el-select
                            v-model="studentForm.school"
                            class="filter-item"
                            placeholder="Jenis Sekolah"
                          >
                            <el-option label="SD" value="SD">SD</el-option>
                            <el-option label="MI" value="MI">MI</el-option>
                          </el-select>
                        </el-form-item>
                      </el-col>
                    </el-row>
                    <el-collapse
                      v-if="studentForm.school == 'SD'"
                      style="text-align: center"
                    >
                      <el-collapse-item
                        title="Rapor Kelas IV"
                        style="text-align: center"
                      >
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <center><b>Semester I</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_4_sem1"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_4_sem1"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_4_sem1"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.agama_4_sem1"
                                placeholder="Pendidikan Agama dan Budi Pekerti"
                              />
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <center><b>Semester II</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_4_sem2"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_4_sem2"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_4_sem2"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.agama_4_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Pendidikan Agama dan Budi Pekerti"
                              />
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-collapse-item>
                      <el-collapse-item
                        title="Rapor Kelas V"
                        style="text-align: center"
                      >
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <center><b>Semester I</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_5_sem1"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_5_sem1"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_5_sem1"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.agama_5_sem1"
                                placeholder="Pendidikan Agama dan Budi Pekerti"
                              />
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <center><b>Semester II</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_5_sem2"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_5_sem2"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_5_sem2"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.agama_5_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Pendidikan Agama dan Budi Pekerti"
                              />
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-collapse-item>
                      <el-collapse-item
                        title="Rapor Kelas VI"
                        style="text-align: center"
                      >
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <center><b>Semester I</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_6_sem1"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_6_sem1"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_6_sem1"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.agama_6_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Pendidikan Agama dan Budi Pekerti"
                              />
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-collapse-item>
                    </el-collapse>
                    <el-collapse v-if="studentForm.school == 'MI'">
                      <el-collapse-item
                        title="Rapor Kelas IV"
                        style="text-align: center"
                      >
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <center><b>Semester I</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_4_sem1"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_4_sem1"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_4_sem1"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.hadis_4_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Al-Qur'an Hadist"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.akidah_4_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Akidah Akhlak"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.fiqih_4_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Fikih"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ski_4_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="SKI"
                              />
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <center><b>Semester II</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_4_sem2"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_4_sem2"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_4_sem2"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.hadis_4_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Al-Qur'an Hadist"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.akidah_4_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Akidah Akhlak"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.fiqih_4_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Fikih"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ski_4_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="SKI"
                              />
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-collapse-item>
                      <el-collapse-item
                        title="Rapor Kelas V"
                        style="text-align: center"
                      >
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <center><b>Semester I</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_5_sem1"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_5_sem1"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_5_sem1"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.hadis_5_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Al-Qur'an Hadist"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.akidah_5_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Akidah Akhlak"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.fiqih_5_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Fikih"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ski_5_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="SKI"
                              />
                            </el-form-item>
                          </el-col>
                          <el-col :span="12">
                            <center><b>Semester II</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_5_sem2"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_5_sem2"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_5_sem2"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.hadis_5_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Al-Qur'an Hadist"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.akidah_5_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Akidah Akhlak"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.fiqih_5_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="Fikih"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ski_5_sem2"
                                type="text"
                                name="agama_ayah"
                                placeholder="SKI"
                              />
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-collapse-item>
                      <el-collapse-item
                        title="Rapor Kelas VI"
                        style="text-align: center"
                      >
                        <el-row :gutter="20">
                          <el-col :span="12">
                            <center><b>Semester I</b></center>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.bi_6_sem1"
                                name="tempat_lahir_ayah"
                                type="text"
                                placeholder="Bahasa Indonesia"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.mat_6_sem1"
                                type="text"
                                name="job"
                                placeholder="Matematika"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ipa_6_sem1"
                                type="text"
                                name="contact_ayah"
                                placeholder="Ilmu Pengetahuan Alam"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.hadis_6_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Al-Qur'an Hadist"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.akidah_6_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Akidah Akhlak"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.fiqih_6_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="Fikih"
                              />
                            </el-form-item>
                            <el-form-item>
                              <el-input
                                v-model="studentForm.ski_6_sem1"
                                type="text"
                                name="agama_ayah"
                                placeholder="SKI"
                              />
                            </el-form-item>
                          </el-col>
                        </el-row>
                      </el-collapse-item>
                    </el-collapse>

                    <div class="tips">
                      <i style="color: grey"
                        >*Isikan nilai pengetahuan sesuai nilai rapor</i
                      >
                    </div>
                  </el-collapse-item>
                </el-collapse>
              </transition>
            </el-form>
          </el-card>
          <el-button
            v-if="active == 1"
            style="margin-top: 12px; float: right"
            @click="next"
            >Next step</el-button
          >
          <el-button
            v-if="active == 2"
            style="margin-top: 12px; float: right"
            @click="createData"
            >Submit</el-button
          >
          <el-button
            v-if="active == 2"
            style="margin-top: 12px; float: left"
            @click="back"
            >Back</el-button
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LangSelect from '@/components/LangSelect';
import { validEmail } from '@/utils/validate';
import { csrf } from '@/api/auth';
import waves from '@/directive/waves'; // Waves directive
import { registerStudent, upload } from '@/api/student';

export default {
  name: 'Register',
  components: { LangSelect },
  directives: { waves },
  data() {
    const validateEmail = (rule, value, callback) => {
      if (!validEmail(value)) {
        callback(new Error('Please enter the correct email'));
      } else {
        callback();
      }
    };
    const validatePass = (rule, value, callback) => {
      if (value.length < 4) {
        callback(new Error('Password cannot be less than 4 digits'));
      } else {
        callback();
      }
    };
    return {
      list: null,
      studentForm: {
        photos: '',
        name: '',
        nisn: '',
        nick_name: '',
        gender: '',
        tempat_lahir: '',
        tanggal_lahir: '',
        email: '',
        contact: '',
        no_nik: '',
        agama: '',
        address: '',
        province: '',
        kecamatan: '',
        rt: '',
        rw: '',
        kodepos: '',
        kota: '',
        kelurahan: '',
        phone_number: '',
        nama_ayah: '',
        tempat_lahir_ayah: '',
        job_ayah: '',
        contact_ayah: '',
        agama_ayah: '',
        tanggal_lahir_ayah: '',
        pendidikan_ayah: '',
        salary_ayah: '',
        email_ayah: '',
        nama_ibu: '',
        tempat_lahir_ibu: '',
        job_ibu: '',
        contact_ibu: '',
        agama_ibu: '',
        tanggal_lahir_ibu: '',
        pendidikan_ibu: '',
        salary_ibu: '',
        email_ibu: '',
        tingkat1: '',
        prestasi1: '',
        tingkat2: '',
        prestasi2: '',
        tingkat3: '',
        prestasi3: '',
        school: '',
        asal_sekolah: '',
        bi_4_sem1: '',
        bi_5_sem1: '',
        bi_6_sem1: '',
        mat_4_sem1: '',
        mat_5_sem1: '',
        mat_6_sem1: '',
        ipa_4_sem1: '',
        ipa_5_sem1: '',
        ipa_6_sem1: '',
        agama_4_sem1: '',
        agama_5_sem1: '',
        agama_6_sem1: '',
        akidah_4_sem1: '',
        akidah_5_sem1: '',
        akidah_6_sem1: '',
        hadis_4_sem1: '',
        hadis_5_sem1: '',
        hadis_6_sem1: '',
        ski_4_sem1: '',
        ski_5_sem1: '',
        ski_6_sem1: '',
        bi_4_sem1: '',
        bi_5_sem1: '',
        bi_6_sem1: '',
        mat_4_sem2: '',
        mat_5_sem2: '',
        mat_6_sem2: '',
        ipa_4_sem2: '',
        ipa_5_sem2: '',
        ipa_6_sem2: '',
        agama_4_sem2: '',
        agama_5_sem2: '',
        agama_6_sem2: '',
        akidah_4_sem2: '',
        akidah_5_sem2: '',
        akidah_6_sem2: '',
        fiqih_4_sem2: '',
        fiqih_5_sem2: '',
        fiqih_6_sem2: '',
        hadis_4_sem2: '',
        hadis_5_sem2: '',
        ski_4_sem2: '',
        ski_5_sem2: '',
        ski_6_sem2: '',
      },
      loginRules: {
        nisn: [
          {
            required: true,
            trigger: 'blur',
          },
        ],
        email: [
          { required: true, trigger: 'change', validator: validateEmail },
        ],
        name: [
          {
            required: true,
            message: 'Nama tidak boleh kosong',
            trigger: 'blur',
          },
        ],
        nick_name: [
          {
            required: true,
            message: 'Nama Panggilan is tidak boleh kosong',
            trigger: 'blur',
          },
        ],
        gender: [{ required: true, message: 'Jenis Kelamin', trigger: 'blur' }],
        tempat_lahir: [
          { required: true, message: 'Tempat Lahir', trigger: 'blur' },
        ],
        tanggal_lahir: [
          {
            required: true,
            message: 'Tanggal Lahir is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        contact: [
          {
            required: true,
            message: 'Contact is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        no_nik: [
          {
            required: true,
            message: 'NIK is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        address: [{ required: true, message: 'Alamat', trigger: 'change' }],
        province: [
          {
            required: true,
            message: 'Provinsi is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        kota: [
          {
            required: true,
            message: 'Kota/Kabupaten is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        kecamatan: [
          {
            required: true,
            message: 'Kecamatan is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        kelurahan: [
          {
            required: true,
            message: 'Kelurahan is tidak boleh kosong',
            trigger: 'change',
          },
        ],
        phone_number: [
          {
            required: true,
            message: 'Nomor Telefon is tidak boleh kosong',
            trigger: 'change',
          },
        ],
      },
      loading: false,
      pwdType: 'password',
      redirect: undefined,
      otherQuery: {},
      active: 1,
      activeName: ['1'],
      imageUrl: '',
      dialogVisible: false,
      disabled: false,
      showUpload: '',
    };
  },
  methods: {
    resetForm() {
      this.studentForm = {
        photos: '',
        name: '',
        nisn: '',
        nick_name: '',
        gender: '',
        tempat_lahir: '',
        tanggal_lahir: '',
        email: '',
        contact: '',
        no_nik: '',
        agama: '',
        address: '',
        province: '',
        kecamatan: '',
        rt: '',
        rw: '',
        kodepos: '',
        kota: '',
        kelurahan: '',
        phone_number: '',
        nama_ayah: '',
        tempat_lahir_ayah: '',
        job_ayah: '',
        contact_ayah: '',
        agama_ayah: '',
        tanggal_lahir_ayah: '',
        pendidikan_ayah: '',
        salary_ayah: '',
        email_ayah: '',
        nama_ibu: '',
        tempat_lahir_ibu: '',
        job_ibu: '',
        contact_ibu: '',
        agama_ibu: '',
        tanggal_lahir_ibu: '',
        pendidikan_ibu: '',
        salary_ibu: '',
        email_ibu: '',
        tingkat1: '',
        prestasi1: '',
        tingkat2: '',
        prestasi2: '',
        tingkat3: '',
        prestasi3: '',
        school: '',
        asal_sekolah: '',
        bi_4_sem1: '',
        bi_5_sem1: '',
        bi_6_sem1: '',
        mat_4_sem1: '',
        mat_5_sem1: '',
        mat_6_sem1: '',
        ipa_4_sem1: '',
        ipa_5_sem1: '',
        ipa_6_sem1: '',
        agama_4_sem1: '',
        agama_5_sem1: '',
        agama_6_sem1: '',
        akidah_4_sem1: '',
        akidah_5_sem1: '',
        akidah_6_sem1: '',
        hadis_4_sem1: '',
        hadis_5_sem1: '',
        hadis_6_sem1: '',
        ski_4_sem1: '',
        ski_5_sem1: '',
        ski_6_sem1: '',
        bi_4_sem1: '',
        bi_5_sem1: '',
        bi_6_sem1: '',
        mat_4_sem2: '',
        mat_5_sem2: '',
        mat_6_sem2: '',
        ipa_4_sem2: '',
        ipa_5_sem2: '',
        ipa_6_sem2: '',
        agama_4_sem2: '',
        agama_5_sem2: '',
        agama_6_sem2: '',
        akidah_4_sem2: '',
        akidah_5_sem2: '',
        akidah_6_sem2: '',
        fiqih_4_sem2: '',
        fiqih_5_sem2: '',
        fiqih_6_sem2: '',
        hadis_4_sem2: '',
        hadis_5_sem2: '',
        ski_4_sem2: '',
        ski_5_sem2: '',
        ski_6_sem2: '',
      };
    },
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = '';
      } else {
        this.pwdType = 'password';
      }
    },
    upload() {
      upload(this.temp).then((response) => {
        this.list.unshift(this.temp);
        this.dialogFormVisible = false;
        this.$notify({
          title: 'Success',
          message: 'Created successfully',
          type: 'success',
          duration: 2000,
        });
        this.getList();
      });
    },
    createData() {
      this.$refs['studentForm'].validate((valid) => {
        if (valid) {
          this.loading = true;
          registerStudent(this.studentForm)
            .then((response) => {
              this.dialogFormVisible = false;
              if (response.success == true) {
                this.$message({
                  title: 'Success',
                  message:
                    'Pendaftaran siswa berhasil dilakukan, silahkan cek ' +
                    response.data.items.email +
                    ' untuk mendapatkan formulir pendaftaran',
                  type: 'success',
                  duration: 10000,
                });
                this.loading = false;
                this.active = 1;
                this.resetForm();
                this.$router.push({ path: '/register' });
              } else {
                this.$notify({
                  title: 'Oppss',
                  message: response.error,
                  type: 'warning',
                  duration: 5000,
                });
                this.loading = false;
              }
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log('error submit!!');
          return false;
        }
      });
    },
    getOtherQuery(query) {
      return Object.keys(query).reduce((acc, cur) => {
        if (cur !== 'redirect') {
          acc[cur] = query[cur];
        }
        return acc;
      }, {});
    },
    next() {
      if (this.active++ > 1) {
        this.active = 0;
      }
    },
    toggleUpload(event) {
      this.studentForm.photos = event.raw;
      console.log(this.studentForm.photos);
    },
    back() {
      this.active = 1;
    },
    handleRemove(file) {
      console.log(file);
    },
    handlePictureCardPreview(file) {
      this.studentForm.photos = file.url;
      this.dialogVisible = true;
    },
    handleDownload(file) {
      console.log(file);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      const isLt2M = file.size / 1024 / 1024 < 2;

      if (!isJPG) {
        this.$message.error('Avatar picture must be JPG format!');
      }
      if (!isLt2M) {
        this.$message.error('Ukuran foto tidak bisa lebih dari 2MB!');
      }
      return isJPG && isLt2M;
    },
  },
};
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg: #2d3a4b;
$dark_gray: #889aa4;
$light_gray: rgb(12, 11, 11);

.login-container {
  background-color: $bg;
  background-repeat-y: repeat;
  height: fit-content;
}

.avatar-uploader .el-upload {
  border: 1px dashed #0a0a0a;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: auto;
}
.avatar-uploader .el-upload:hover {
  border-color: #080808;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 150px;
  height: 200px;
  display: block;
}
.hideUpload > div {
  display: none;
}
</style>
